* {
  padding: 0;
  margin: 0;
}

div {
  background-color: blue;
  height: 100vh;
}

h1 {
  color: white;
  text-align: center;
  padding-top: 80px;
}

h4 {
  color: white;
  text-align: center;
  padding-top: 200px;
}

img {
  padding-left: 650px;
  padding-top: 70px;
}
